<!-- //breadcrumbs -->
<div class="products" style="padding-bottom: 1em;">
  <div class="container">
    <div class="agileinfo_single">

      <div class="col-md-4 agileinfo_single_left">
        <img id="example" [src]="movie?.linkBackgrounds" alt=" " class="img-responsive">
      </div>
      <form [formGroup]="reviewForm" (ngSubmit)="review()">
        <div class="col-md-offset-1 col-md-7 agileinfo_single_right">

          <h2 style="margin-bottom: 0px;">{{ movie?.title }}</h2>
          <h4 style="text-transform: capitalize;">( {{movie?.engTitle}} )</h4>
          <div class="rating1" *ngIf="isLogin">
            <span>
              <img [src]="src1" (mouseenter)="setRate(1)">
            </span>
            <span>
              <img [src]="src2" (mouseenter)="setRate(2)">
            </span>
            <span>
              <img [src]="src3" (mouseenter)="setRate(3)">
            </span>
            <span>
              <img [src]="src4" (mouseenter)="setRate(4)">
            </span>
            <span>
              <img [src]="src5" (mouseenter)="setRate(5)">
            </span>
            <p *ngIf="mesRate" class="alert alert-danger"> {{ mesRate }}</p>
          </div>
          <div class="w3agile_description">
            <h4 class="text-bold">Mô tả :</h4>
            <div style="text-align:justify;">{{ movie?.content }}</div>
            <br>
            <p>
              <a [href]="'http://www.' + movie?.linkWatch" target="_blank" (click)="watchMovie()">Xem phim</a>
            </p>
            <!-- <button class="btn" style="background: #fe9126;" (click)="watchMovie()"><a style="color: white;" [href]="'http://www.' + movie?.linkWatch" target="_blank">Xem phim</a></button> -->
          </div>
          <div class="snipcart-item block">
            <div class="snipcart-thumb agileinfo_single_right_snipcart">
              <p *ngIf="movie?.imdb">
                <span class="text-bold">IMDB:</span> {{ movie?.imdb }}</p>
              <p>
                <span class="text-bold">Số lượt xem:</span> {{ view }}</p>
              <p *ngIf="rate !== 'undefined'">
                <span class="text-bold">Điểm đánh giá:</span> {{ rate }}</p>
              <p>
                <span class="text-bold">Năm:</span> {{ movie?.year }}</p>
              <p>
                <span class="text-bold">Thể loại:</span> {{showCategory(movie?.category)}}</p>
              <p style="text-transform: capitalize;">
                <span class="text-bold">Quốc gia:</span> {{ movie?.country }}</p>
            </div>
            <div *ngIf="isLogin" class="form-group" id="comment">
              <p>
                <span class="text-bold">Đánh giá:</span>
              </p>
              <textarea rows="5" style="width: 100%; padding: 2%; border-radius: 2%;" formControlName="content" (focus)="mesContent=''"></textarea>
              <p *ngIf="mesContent" class="alert alert-danger"> {{ mesContent }}</p>
            </div>

            <div *ngIf="isLogin" class="snipcart-details agileinfo_single_right_details">
              <input type="submit" name="submit" value="REVIEW" class="button">
            </div>
          </div>

        </div>
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<br>
<div class="container">
  <div class="newproducts-w3agile" style="background: none; padding: 3em 0;">
    <h3>Danh sách đánh giá</h3>
  </div>
  <div class="list-review" *ngFor="let item of pagedItems">
    <h4>{{ item?.user?.username }}</h4>
    <!-- <p>{{ item?.user?.email }}</p> -->
    <div>
      <span class="rate-group" *ngFor="let star of createRange(item?.rate);">
        <img src="assets/images/star1.png">
      </span>
    </div>
    <p>{{ item?.content }}</p>
    <hr>
  </div>
  <!-- pager -->

  <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="margin-left: 9%;">
    <li [ngClass]="{disabled:pager.currentPage === 1}" style="margin-right: 20px;">
        <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}" style="margin-right: 20px;">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" style="margin-right: 20px;">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" style="margin-right: 20px;">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" style="margin-right: 20px;">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>
  <!-- end pager -->
</div>

<!-- // list review -->

<div class="newproducts-w3agile">
  <div class="container">
    <h3>Danh sách gợi ý</h3>
    <div class="agile_top_brands_grids">
      <div class="col-md-4 top_brand_left" *ngFor="let movie of suggestItems" (click)="detailMovie(movie?.engTitle)">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <!-- <img src="assets/images/offer.png" alt=" " class="img-responsive"> -->
            </div>

            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a routerLink="/phim/{{normalizeTitle(movie?.engTitle)}}">
                      <img title=" " alt="image" [src]="movie?.linkBackgrounds" />
                    </a>
                    <h4 style="text-transform: uppercase; text-align: center;padding-top: 5%;">{{ movie?.title }}</h4>
                    <p> Năm: {{ movie?.year }} </p>
                    <!-- <p> Đánh giá: {{ movie?.rate }} </p> -->
                    <p> Quốc gia: {{ movie?.country }} </p>
                    <p class="content-movie"> {{ movie?.content }} </p>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <input type="submit" name="submit" value="Xem chi tiết" class="button" />
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>