<!-- //breadcrumbs -->
<div class="products" style="padding-bottom: 1em;">
  <div class="container">
    <div class="agileinfo_single">

      <div class="col-md-4 agileinfo_single_left">
        <img id="example" [src]="movie?.linkBackgrounds" alt=" " class="img-responsive">
      </div>
      <form [formGroup]="reviewForm" (ngSubmit)="review()">
        <div class="col-md-offset-1 col-md-7 agileinfo_single_right">

          <h2 style="margin-bottom: 0px;">{{ movie?.title }}</h2>
          <h4 style="text-transform: capitalize;">( {{movie?.engTitle}} )</h4>
          <div class="rating1" *ngIf="isLogin">
            <span>
              <img [src]="src1" (mouseenter)="setRate(1)">
            </span>
            <span>
              <img [src]="src2" (mouseenter)="setRate(2)">
            </span>
            <span>
              <img [src]="src3" (mouseenter)="setRate(3)">
            </span>
            <span>
              <img [src]="src4" (mouseenter)="setRate(4)">
            </span>
            <span>
              <img [src]="src5" (mouseenter)="setRate(5)">
            </span>
            <p *ngIf="mesRate" class="alert alert-danger"> {{ mesRate }}</p>
          </div>
          <div class="w3agile_description">
            <h4 class="text-bold">Description :</h4>
            <div style="text-align:justify;">{{ movie?.content }}</div><br>
            <p ><a [href]="'http://www.' + movie?.linkWatch" target="_blank" (click)="watchMovie()">Xem phim</a></p>
            <!-- <button class="btn" style="background: #fe9126;" (click)="watchMovie()"><a style="color: white;" [href]="'http://www.' + movie?.linkWatch" target="_blank">Xem phim</a></button> -->
          </div>
          <div class="snipcart-item block">
            <div class="snipcart-thumb agileinfo_single_right_snipcart">
              <p *ngIf="movie?.imdb"><span class="text-bold">IMDB:</span> {{ movie?.imdb }}</p>
              <p *ngIf="movie?.rate"><span class="text-bold">RATE:</span> {{ movie?.rate }}</p>
              <p><span class="text-bold">YEAR:</span> {{ movie?.year }}</p>
              <p><span class="text-bold">CATEGORY:</span> {{showCategory(movie?.category)}}</p>
              <p style="text-transform: capitalize;"><span class="text-bold">COUNTRY:</span> {{ movie?.country }}</p>
            </div>
            <div *ngIf="isLogin" class="form-group" id="comment">
              <p><span class="text-bold">REVIEW:</span></p>
              <textarea rows="5" style="width: 100%; padding: 2%; border-radius: 2%;" formControlName="content" (focus)="mesContent=''"></textarea>
              <p *ngIf="mesContent" class="alert alert-danger"> {{ mesContent }}</p>
            </div>

            <div *ngIf="isLogin" class="snipcart-details agileinfo_single_right_details">
              <input type="submit" name="submit" value="REVIEW" class="button">
            </div>
          </div>

        </div>
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- <pre>{{ reviewForm.value | json }}</pre> -->
<!-- list review -->

<br>
<div class="container">
  <div class="newproducts-w3agile" style="background: none; padding: 3em 0;">
    <h3>list review for movie</h3>
  </div>
  <div class="list-review" *ngFor="let item of listReviews">
    <h4>{{ item?.user?.username }}</h4>
    <div>
      <span class="rate-group" *ngFor="let star of createRange(item?.rate);">
        <img src="assets/images/star1.png">
      </span>
    </div>
    <p>{{ item?.content }}</p>
    <hr>
  </div>
</div>

<!-- // list review -->
<!-- new -->
<div class="newproducts-w3agile">
  <div class="container">
    <h3>New offers</h3>
    <div class="agile_top_brands_grids">
      <div class="col-md-3 top_brand_left-1">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive">
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="products.html">
                      <img title=" " alt=" " src="assets/images/14.png">
                    </a>
                    <p>Fried-gram</p>
                    <div class="stars">
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star gray-star" aria-hidden="true"></i>
                    </div>
                    <h4>$35.99
                      <span>$55.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="business" value=" ">
                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                        <input type="hidden" name="amount" value="35.99">
                        <input type="hidden" name="discount_amount" value="1.00">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="return" value=" ">
                        <input type="hidden" name="cancel_return" value=" ">
                        <input type="submit" name="submit" value="Add to cart" class="button">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 top_brand_left-1">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive">
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="products.html">
                      <img title=" " alt=" " src="assets/images/15.png">
                    </a>
                    <p>Navaratan-dal</p>
                    <div class="stars">
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star gray-star" aria-hidden="true"></i>
                    </div>
                    <h4>$30.99
                      <span>$45.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="business" value=" ">
                        <input type="hidden" name="item_name" value="basmati rise">
                        <input type="hidden" name="amount" value="30.99">
                        <input type="hidden" name="discount_amount" value="1.00">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="return" value=" ">
                        <input type="hidden" name="cancel_return" value=" ">
                        <input type="submit" name="submit" value="Add to cart" class="button">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 top_brand_left-1">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive">
            </div>
            <div class="agile_top_brand_left_grid_pos">
              <img src="images/offer.png" alt=" " class="img-responsive">
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="products.html">
                      <img src="assets/images/16.png" alt=" " class="img-responsive">
                    </a>
                    <p>White-peasmatar</p>
                    <div class="stars">
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star gray-star" aria-hidden="true"></i>
                    </div>
                    <h4>$80.99
                      <span>$105.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="business" value=" ">
                        <input type="hidden" name="item_name" value="Pepsi soft drink">
                        <input type="hidden" name="amount" value="80.00">
                        <input type="hidden" name="discount_amount" value="1.00">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="return" value=" ">
                        <input type="hidden" name="cancel_return" value=" ">
                        <input type="submit" name="submit" value="Add to cart" class="button">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 top_brand_left-1">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive">
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="products.html">
                      <img title=" " alt=" " src="assets/images/17.png">
                    </a>
                    <p>Channa-dal</p>
                    <div class="stars">
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star gray-star" aria-hidden="true"></i>
                    </div>
                    <h4>$35.99
                      <span>$55.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="business" value=" ">
                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                        <input type="hidden" name="amount" value="35.99">
                        <input type="hidden" name="discount_amount" value="1.00">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="return" value=" ">
                        <input type="hidden" name="cancel_return" value=" ">
                        <input type="submit" name="submit" value="Add to cart" class="button">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //new -->