
<!-- login -->
<div class="login">
  <div class="container">
    <h2>Login Form</h2>
  
    <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Enter username" formControlName="username" (focus)="mesUsername = ''" >
        <span  *ngIf="mesUsername" style="color: red;">
          {{mesUsername}}
        </span>
        <input type="password" placeholder="Enter assword" formControlName="password" (focus)="mesPassword = ''" >
        <span *ngIf="mesPassword" style="color: red;">
          {{mesPassword}}
        </span>
        <input type="submit" value="LOGIN">
      </form>
    </div>
    <h4>For New People</h4>
    <p><a href="/signup">Register Here</a> (Or) go back to <a href="/home">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
  </div>
</div>
<!-- //login -->