<!-- <div class="form-step">
  <p>LOG IN</p>
  <div class="wrapper col-md-offset-2 col-md-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" placeholder="Your name" class="form-control" formControlName="username">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" [value]="" placeholder="Your subject" class="form-control" formControlName="password">
      </div>

      <div class="item-input-inline btn-submit">
        <input type="submit" value="SUBMIT">
      </div>
    </form>
  </div>
</div>
<pre>{{ loginForm.value | json }} </pre>
<p>LOGIN</p>
<form (ngSubmit)="logout()">
  <div class="item-input-inline btn-submit">
    <input type="submit" value="LOGOUT">
  </div>
</form> -->






<!-- header -->
<div class="logo_products">
  <div class="container">

    <div class="w3ls_logo_products_left">
      <h1>
        <a href="/home">F5 TEAM</a>
      </h1>
    </div>
    <div class="w3l_search">
      <form action="#" method="post">
        <input type="search" name="Search" placeholder="Search for a Product..." required="">
        <button type="submit" class="btn btn-default search" aria-label="Left Align">
          <i class="fa fa-search" aria-hidden="true"> </i>
        </button>
        <div class="clearfix"></div>
      </form>
    </div>

    <div class="clearfix"> </div>
  </div>
</div>
<!-- //header -->
<!-- navigation -->
<div class="navigation-agileits">
  <div class="container">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav" style="display: inline;">
          <li class="active">
            <a href="/home" class="act">HOME</a>
          </li>
          <li>
            <a href="/phim">PHIM MỚI</a>
          </li>
          <li>
            <a href="contact.html">PHIM LẺ</a>
          </li>
          <li>
            <a href="contact.html">PHIM BỘ</a>
          </li>
          <li>
            <a href="contact.html">TOP IMDB 2017</a>
          </li>
          <li>
            <a href="contact.html">ĐÁNH GIÁ</a>
          </li>
          <li>
            <a href="/contact">LIÊN HỆ</a>
          </li>
         
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- //navigation -->

<!-- login -->
<div class="login">
  <div class="container">
    <h2>Login Form</h2>
  
    <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
      <form>
        <input type="email" placeholder="Email Address" required=" " >
        <input type="password" placeholder="Password" required=" " >
       
        <input type="submit" value="Login">
      </form>
    </div>
    <h4>For New People</h4>
    <p><a href="/signup">Register Here</a> (Or) go back to <a href="/home">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
  </div>
</div>
<!-- //login -->