<!-- <div class="form-step">
  <p>CONTACT US</p>
  <div class="wrapper col-md-offset-2 col-md-6">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()"> -->
      <!-- <div class="form-group">
        <label>Select form of inquiry</label>
        <select #inquiryf class="form-control" formControlName="category" (focus)="setMessageErr(1)">
          <option *ngFor="let category of categorys" [ngValue]="category._id">
            {{ category.name }}
          </option>
        </select>
        <div *ngIf="mesCategory" class="alert alert-danger">
          {{ mesCategory }}
        </div>
      </div> 

      <div class="form-group">
        <label>Email</label>
        <input type="email" placeholder="youremail@gmail.com" class="form-control" formControlName="email">
      </div>
      <div *ngIf="mesName" class="alert alert-danger">
        {{ mesName }}
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" placeholder="Your name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label>Subject</label>
        <input type="text" [value]="" placeholder="Your subject" class="form-control" formControlName="subject">
      </div>
      <div class="form-group">
        <label>Subject</label>
        <input type="file" name="file" [value]="files" id="file" (change)="onFileChanged($event)" class="form-control" formControlName="image">
      </div>

      <div class="form-group">
        <label>Your message</label>
        <textarea class="form-control" formControlName="message" placeholder="Your message" rows="5"></textarea>
      </div>

      <div class="item-input-inline btn-submit">
        <input type="submit" value="SUBMIT">
      </div>
    </form>
  </div>
</div>
<pre>{{ contactForm.value | json }} </pre>
<div>
  <div class="container">
    <div class="text-center">
      <h1>Angular 2 - Pagination Example with logic like Google</h1>
      <div *ngFor="let item of pagedItems">{{item.email}}</div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}" style="margin-right: 20px;">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" style="margin-right: 20px;">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" style="margin-right: 20px;">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" style="margin-right: 20px;">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" style="margin-right: 20px;">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
</div> -->




<!-- contact -->
<div class="about">
  <div class="w3_agileits_contact_grids">
    <div class="col-md-6 w3_agileits_contact_grid_left">
      <div class="agile_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.3905851087434!2d-34.90500565012194!3d-8.061582082752993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18d90992e4ab%3A0x8e83c4afabe39a3a!2sSport+Club+Do+Recife!5e0!3m2!1sen!2sin!4v1478684415917" style="border:0"></iframe>
      </div>
      <!-- <div class="agileits_w3layouts_map_pos">
        <div class="agileits_w3layouts_map_pos1">
          <h3>Contact Info</h3>
          <p>1234k Avenue, 4th block, New York City.</p>
          <ul class="wthree_contact_info_address">
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+(0123) 232 232</li>
          </ul>
          <div class="w3_agile_social_icons w3_agile_social_icons_contact">
            <ul>
              <li><a href="#" class="icon icon-cube agile_facebook"></a></li>
              <li><a href="#" class="icon icon-cube agile_rss"></a></li>
              <li><a href="#" class="icon icon-cube agile_t"></a></li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
    <div class="col-md-6 w3_agileits_contact_grid_right">
      <h2 class="w3_agile_header">Leave a<span> Message</span></h2>

      <form action="#" method="post">
        <span class="input input--ichiro">
          <input class="input__field input__field--ichiro" type="text" id="input-25" name="Name" placeholder=" " required="" />
          <label class="input__label input__label--ichiro" for="input-25">
            <span class="input__label-content input__label-content--ichiro">Your Name</span>
          </label>
        </span>
        <span class="input input--ichiro">
          <input class="input__field input__field--ichiro" type="email" id="input-26" name="Email" placeholder=" " required="" />
          <label class="input__label input__label--ichiro" for="input-26">
            <span class="input__label-content input__label-content--ichiro">Your Email</span>
          </label>
        </span>
        <textarea name="Message" placeholder="Your message here..." required=""></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- contact -->
