<!-- main-slider -->
<ul id="demo1">
  <li>
    <img src="assets/images/cogai1.jpg" alt="" />
    <!--Slider Description example-->
    <div class="slide-desc">
      <!-- <h3>Buy Rice Products Are Now On Line With Us</h3> -->
    </div>
  </li>
  <li>
    <img src="assets/images/cogai2.jpg" alt="" />
    <div class="slide-desc">
      <!-- <h3>Whole Spices Products Are Now On Line With Us</h3> -->
    </div>
  </li>

  <li>
    <img src="assets/images/cogai3.jpg" alt="" />
    <div class="slide-desc">
      <!-- <h3>Whole Spices Products Are Now On Line With Us</h3> -->
    </div>
  </li>
</ul>
<!-- //main-slider -->
<!-- //top-header and slider -->
<!-- top-brands -->
<div class="top-brands">
  <div class="container">
    <h2>Danh sách phim gợi ý</h2>
    <div class="grid_3 grid_5">
      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Phim được xem nhiều nhất</a>
          </li>
          <li role="presentation">
            <a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Phim được đánh gía cao nhất</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
            <div class="agile-tp">
              <h5>Mời các bạn đón xem những bộ phim được xem nhiều nhất</h5>
              <!-- <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p> -->
            </div>
            <div class="agile_top_brands_grids">
              <div class="col-md-4 top_brand_left" *ngFor="let movie of listTopViews | slice:0:6" (click)="detailMovie(movie?.engTitle)">
                <div class="hover14 column">
                  <div class="agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid_pos">
                      <!-- <img src="assets/images/offer.png" alt=" " class="img-responsive"> -->
                    </div>
                    <div class="agile_top_brand_left_grid1">
                      <figure>
                        <div class="snipcart-item block">
                          <div class="snipcart-thumb">
                            <a routerLink="/phim/{{normalizeTitle(movie?.engTitle)}}">
                              <img title=" " alt="image" [src]="movie?.linkBackgrounds" />
                            </a>
                            <h4 style="text-transform: uppercase; text-align: center;padding-top: 5%; color: orange;">{{ movie?.title }}</h4>
                            <p> YEAR: {{ movie?.year }} </p>
                            <!-- <p>THỂ LOẠI: {{ normalizeCategory(movie?.category) }}</p> -->
                            <p>QUỐC GIA: {{movie?.country}}</p>
                            <p class="content-movie"> {{ movie?.content }} </p>
                          </div>
                          <div class="snipcart-details top_brand_home_details">
                            <form action="#" method="post">

                              <input type="submit" name="submit" value="VIEW MORE" class="button" />
                            </form>
                          </div>
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
                <br>
                <br>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
            <div class="agile-tp">
              <h5>Mời bạn đón xem những bộ phim được đánh giá cao nhất</h5>
              <!-- <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p> -->
            </div>
            <div class="agile_top_brands_grids">
              <div class="col-md-4 top_brand_left" *ngFor="let movie of listTopRates | slice:0:6" (click)="detailMovie(movie?.engTitle)">
                <div class="hover14 column">
                  <div class="agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid_pos">
                      <!-- <img src="assets/images/offer.png" alt=" " class="img-responsive"> -->
                    </div>
                    <div class="agile_top_brand_left_grid1">
                      <figure>
                        <div class="snipcart-item block">
                          <div class="snipcart-thumb">
                            <a routerLink="/phim/{{normalizeTitle(movie?.engTitle)}}">
                              <img title=" " alt="image" [src]="movie?.linkBackgrounds" />
                            </a>
                            <h4 style="text-transform: uppercase; text-align: center;padding-top: 5%; color: orange;">{{ movie?.title }}</h4>
                            <p> YEAR: {{ movie?.year }} </p>
                            <!-- <p>THỂ LOẠI: {{ normalizeCategory(movie?.category) }}</p> -->
                            <p>QUỐC GIA: {{movie?.country}}</p>
                            <p class="content-movie"> {{ movie?.content }} </p>
                          </div>
                          <div class="snipcart-details top_brand_home_details">
                            <form action="#" method="post">

                              <input type="submit" name="submit" value="VIEW MORE" class="button" />
                            </form>
                          </div>
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
                <br>
                <br>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //top-brands -->
<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="beverages.html">
        <img class="first-slide" src="assets/images/kimsareon1.jpg" alt="First slide" style=" width: 100%;
        height: 450px;">
      </a>

    </div>
    <div class="item">
      <a href="personalcare.html">
        <img class="second-slide " src="assets/images/kimsareon2.jpg" alt="Second slide" style=" width: 100%;
        height: 450px;">
      </a>

    </div>
    <div class="item">
      <a href="household.html">
        <img class="third-slide " src="assets/images/kimsareon3.jpg" alt="Third slide" style=" width: 100%;
        height: 450px;">
      </a>
    </div>
  </div>

</div>
<!-- /.carousel -->

<!-- new -->
<div class="newproducts-w3agile">
  <div class="container">
    <h3>Danh sách phim mới phát sóng</h3>
    <div class="agile_top_brands_grids">
      <div class="col-md-4 top_brand_left" *ngFor="let movie of listMovies | slice:0:6" (click)="detailMovie(movie?.engTitle)">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <!-- <img src="assets/images/offer.png" alt=" " class="img-responsive"> -->
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="/phim/{{normalizeTitle(movie?.engTitle)}}">
                      <img title=" " alt="image" [src]="movie?.linkBackgrounds" />
                    </a>
                    <h4 style="text-transform: uppercase; text-align: center;padding-top: 5%; color: orange;">{{ movie?.title }}</h4>
                    <p> Năm: {{ movie?.year }} </p>
                    <!-- <p>THỂ LOẠI: {{ normalizeCategory(movie?.category) }}</p> -->
                    <p>QUỐC GIA: {{movie?.country}}</p>
                    <p class="content-movie"> {{ movie?.content }} </p>
                  </div>
                  <div class="snipcart-details top_brand_home_details">
                    <form action="#" method="post">

                      <input type="submit" name="submit" value="VIEW MORE" class="button" />
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //new -->