<!-- register -->
<div class="register">
  <div class="container">
    <h2>Register Here</h2>
    <div class="login-form-grids">
      <h5>profile information</h5>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" placeholder="Enter email" formControlName="email" (focus)="mesEmail = ''">
          <span *ngIf="mesEmail" style="color: red;">
            {{mesEmail}}
          </span>
        </div>
        <div class="form-group">
          <input class="form-group" type="text" placeholder="Enter fullname..." formControlName="name">
        </div>
        <div class="form-group">
          <input class="form-group" type="text" placeholder="Enter address..." formControlName="address">
        </div>
        <div>
          <div class="form-group">
            <select class="form-control" formControlName="birth" (focus)="mesBirth = ''">
              <option [ngValue]="''"> --- Select year of birth ---</option>
              <option *ngFor="let birth of createRange(1970, 2018)" [ngValue]="birth">
                {{ birth }}
              </option>
            </select>
            <span *ngIf="mesBirth" style="color: red;">
              {{ mesBirth }}
            </span>
          </div>
          <div class="form-group">
            <select class="form-control" formControlName="sex" (focus)="mesSex = ''">
              <option [ngValue]="''"> --- Select year sex ---</option>
              <option *ngFor="let item of ['Female', 'Male']" [ngValue]="item">
                {{ item }}
              </option>
            </select>
            <span *ngIf="mesSex" style="color: red;">
              {{ mesSex }}
            </span>
          </div>
        </div>
        <h6>Login information</h6>
        <div class="form-group">
          <input type="text" placeholder="Enter username" formControlName="username" (focus)="mesUsername = ''">
          <span *ngIf="mesUsername" style="color: red;">
            {{mesUsername}}
          </span>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Enter password" formControlName="password" (focus)="mesPassword = ''">
          <span *ngIf="mesPassword" style="color: red;">
            {{mesPassword}}
          </span>
        </div>
        <!-- <div class="form-group">
          <input type="password" placeholder="Confirm password" formControlName="confirm_password">
          <span *ngIf="cpwd.hasError('invalid')"> Invalid Password </span>
        </div> -->
        <input type="submit" value="REGISTER">
      </form>
    </div>

  </div>
</div>
<!-- //register -->

<pre> {{ signupForm.value | json}}</pre>