<!-- <div class="agileits_header">
  <div class="container">
    <div class="agile-login">
      <ul>
        <li *ngIf="!isLogin">
          <a href="/signup"> Đăng kí </a>
        </li>
        <li *ngIf="!isLogin">
          <a href="/login">Đăng nhập</a>
        </li>
        <li *ngIf="isLogin">
          <a href="/profile">Hello
            <b> {{ currentUser.username }} ! </b>
          </a>
        </li>
        <li *ngIf="isLogin">
          <a href="#" (click)="logout()">Đăng xuất</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div> -->

<!-- header -->
<div class="logo_products">
  <div class="container">

    <div class="w3ls_logo_products_left" style="margin-left: -9%;">
      <h1>
        <a routerLink="/home" style="color: white;">F5 TEAM</a>
      </h1>
    </div>
    <div class="agile-login">
      <ul>
        <li *ngIf="!isLogin">
          <a routerLink="/signup"> Đăng kí </a>
        </li>
        <li *ngIf="!isLogin">
          <a routerLink="/login">Đăng nhập</a>
        </li>
        <li *ngIf="isLogin">
          <a routerLink="/profile">Hello
            <b> {{ currentUser.username }} ! </b>
          </a>
        </li>
        <li *ngIf="isLogin">
          <a href="#" (click)="logout()">Đăng xuất</a>
        </li>
      </ul>
    </div>
    <div class="w3l_search">
      <form (ngSubmit)="searchMovie()">
        <input id="search" type="text" name="Search" placeholder="Search for name, year, country movie..." required="" #search (keyup)="onKey(search.value)">
        <button type="submit" class="btn btn-default search" aria-label="Left Align">
          <i class="fa fa-search" aria-hidden="true"> </i>
        </button>
        <div class="clearfix"></div>
      </form>
    </div>
    <!-- <pre> {{ search.value | json}}</pre> -->

    <div class="clearfix"> </div>
  </div>
</div>
<!-- //header -->
<!-- navigation -->
<div class="navigation-agileits">
  <div class="container" style="margin-left: 4%;">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav" style="display: inline;">
          <li class="active">
            <a routerLink="/home" class="act">TRANG CHỦ</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">THỂ LOẠI
              <!-- <b class="caret"></b> -->
            </a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <h6>TẤT CẢ THỂ LOẠI</h6>
                    <li>
                      <a routerLink="/the_loai/phim_co_trang">PHIM CỔ TRANG</a>
                    </li>
                    <li>
                      <a routerLink="/the_loai/phim_hai">PHIM HÀI</a>
                    </li>
                    <li>
                      <a routerLink="/the_loai/phim_hanh_dong">PHIM HÀNH ĐỘNG</a>
                    </li>
                    <li>
                      <a routerLink="/the_loai/phim_kinh_di">PHIM KINH DỊ</a>
                    </li>
                    <li>
                      <a routerLink="/the_loai/phim_phieu_luu">PHIM PHIÊU LƯU</a>
                    </li>
                    <li>
                      <a routerLink="/the_loai/phim_tai_lieu">PHIM TÀI LIỆU</a>
                    </li>
                    <li>
                      <a routerLink="/the_loai/phim_tam_ly">PHIM TÂM LÝ</a>
                    </li>
                    <li>
                      <a routerLink="/the_loai/phim_tinh_cam">PHIM TÌNH CẢM</a>
                    </li>
                    <li>
                      <a routerLink="/the_loai/phim_vien_tuong">PHIM VIỄN TƯỞNG</a>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
          <li *ngIf="isLogin">
            <a routerLink="/history">LỊCH SỬ XEM PHIM</a>
          </li>
          <li>
            <a routerLink="/top-imdb">TOP IMDB</a>
          </li>
          <li *ngIf="isLogin">
            <a routerLink="/review">ĐÁNH GIÁ</a>
          </li>
          <li *ngIf="isLogin">
            <a routerLink="/contact">LIÊN HỆ</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- //navigation -->